.bg-top{
    background-attachment: fixed;

}

.fixedBanner{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 8em;
    margin-left: -15%;
    width: 130%;
    border-radius: 15px;
}