{{/* 
	shortcodes/image10ko

	This partial ...

	.Page

*/}}

{{ $imageParameter := .Get 0 }}
{{ $textParameter := .Get 1 | default "" }}
{{ $image := .Page.Resources.GetMatch  $imageParameter | default "" }}

{{ if $image }}
	{{/* N/B */}}
	{{ $imageT := $image.Filter (images.GaussianBlur 10) }}

	{{/* Resizing */}}
	{{ $imageT := $imageT.Resize "1024x jpg q85" }}
	
<div class="fixedBanner" style="background-image:url('{{ $imageT.RelPermalink }}')"><div class="fixedBannerInnerText">
	{{ if $textParameter }}<h2 class="fixBannerH2">{{ $textParameter }}</h2>{{ end }}
</div></div>

{{ else }}
<p>image {{ $imageParameter }} not found !</p>
{{ end }}



