{{/*
  shortcodes/form-contact
  
  Provide contact form for emailmeform.com

  @author @danezisKevin

  @param String action the post URL for the form
*/}}

{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<form class="black-80 sans-serif" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="element_0">{{ i18n "yourName" }}</label>
    <input type="text" id="element_0" name="element_0" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="element_1">{{ i18n "emailAddress" }}</label>
    <input type="email" id="element_1" name="element_1" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>
    <div class="requirements f6 gray glow i ph3 overflow-hidden">
      {{ i18n "emailRequiredNote" }}
    </div>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="element_2">{{ i18n "message" }}</label>
    <textarea id="element_2" name="element_2" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="message"></textarea>

    
    <input name="element_counts" value="3" type="hidden" />
    <input name="embed" value="forms" type="hidden" />
    <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-black bg-animate bg-black" type="submit" value="{{ i18n "send" }}" />

</form>
